.container {
    padding: 20px;
    background-color: #f4f4f4; /* Or any background color you want */
  }
  
  .profilePictureContainer {
    display: flex;
    align-items: center;
  }
  
  .profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
   
  }
  
  .noProfilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .uploadLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .cameraIcon {
    font-size: 24px;
  }
  
  .uploadInput {
    display: none;
  }
  
  .profileInfo {
    margin-top: 20px;
  }
  
  .completedTasks {
    margin-top: 20px;
  }
  
  .taskCard {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color:white;
  }

































































  