
.container {
  padding: 20px;

  text-align: center; 
}

.profilePictureContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 20px; 
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px; 
}

.noProfilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; 
}

.uploadLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cameraIcon {
  font-size: 24px;
  margin-bottom: 5px; 
}

.uploadInput {
  display: none;
}

.profileInfo {
  margin-top: 20px;
}

.completedTasks {
  margin-top: 20px;
}

.taskCard {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.taskCard.high {
  background-color:  #ff6666;
}

.taskCard.medium {
  background-color:  #ffcc66;
}

.taskCard.low {
  background-color: #66b3ff; 
}