

.App {
  font-family: Arial, sans-serif;
  background-color:#00BBF9;
}

.navbar {
  background-color: #3F2E56;
  color: #F65BE3;
  padding: 10px;
}

.navbar nav a {
  color: #F65BE3;
  text-decoration: none;
  margin: 0 10px;
}

.navbar nav a:hover {
  text-decoration: underline;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


